<server>
   <featureManager>
      <feature>enterpriseBeans-4.0</feature>
      <feature>servlet-5.0</feature>
      <feature>faces-3.0</feature>
      <feature>persistence-3.0</feature>
      <feature>mdb-4.0</feature>
      <feature>messagingServer-3.0</feature>
      <feature>messagingClient-3.0</feature>
      <feature>cdi-3.0</feature>
      <feature>websocket-2.0</feature>
      <feature>concurrent-2.0</feature>
      <feature>jsonp-2.0</feature>
      <feature>jsonb-2.0</feature>
      <feature>beanValidation-3.0</feature>
      <feature>restfulWS-3.0</feature>
      <feature>ssl-1.0</feature>
   </featureManager>

   <keyStore id="defaultKeyStore" password="yourPassword" />

   <!--<logging traceSpecification="daytrader=fine"/>-->

   <!-- allow reuse of 'busy' ports for fast server recycling on linux (where ports remain blocked for up to 2 mins after server stops) ${tradelite.http.port} set in bootstrap.properties -->
   <httpEndpoint host="*" httpPort="9080" httpsPort="9443" id="defaultHttpEndpoint">
      <tcpOptions soReuseAddr="true" />
      <httpOptions maxKeepAliveRequests="-1" />
   </httpEndpoint>

   <webApplication id="daytrader9" location="/sufp/apps/dt9/daytrader9-1.0-SNAPSHOT.war" name="daytrader9" context-root="daytrader"/>  
<!--  
   <webApplication id="daytrader9" location="${shared.app.dir}/webcontainer/daytrader9-1.0-SNAPSHOT.war" name="daytrader9" context-root="daytrader"/>  
<transaction transactionLogDirectory="/ramdisk/tranlog"/> 

   <jdbcDriver id="DB2JCC" libraryRef="DB2JCCLib"/> <library id="DB2JCCLib" filesetRef="DB2JCCFileset"/> <fileset id="DB2JCCFileset" dir="/opt/db2jars" includes="db2jcc4.jar"/> 
   <authData id="TradeDataSourceAuthData" password="db.password" user="db.user" />
   <authData id="TradeAdminAuthData" password="db.password" user="db.user" />
<dataSource jndiName="jdbc/TradeDataSource" id="DefaultDataSource" jdbcDriverRef="DB2JCC" connectionManagerRef="conMgr1" statementCacheSize="60" isolationLevel="TRANSACTION_READ_COMMITTED"> <properties serverName="db.machine" portNumber="db.port" databaseName="db.name" driverType="4" user="db.user" password="db.password"/> </dataSource>
-->
   <jdbcDriver id="DerbyEmbedded" libraryRef="DerbyLib"/>
   <library filesetRef="DerbyFileset" id="DerbyLib"/>
   <fileset dir="/sufp/apps/dt9/resources/DerbyLibs" id="DerbyFileset" includes="derby.jar"/>

   <dataSource connectionManagerRef="conMgr1" id="DefaultDataSource" isolationLevel="TRANSACTION_READ_COMMITTED" jdbcDriverRef="DerbyEmbedded" jndiName="jdbc/TradeDataSource" statementCacheSize="60">
       <properties.derby.embedded createDatabase="create" databaseName="/sufp/apps/dt9/resources/data/tradedb" password="db_password" user="db_username"/>
   </dataSource>

   <connectionManager agedTimeout="-1" connectionTimeout="0" id="conMgr1" maxIdleTime="-1" maxPoolSize="100" minPoolSize="100" purgePolicy="FailingConnectionOnly" reapTime="-1" />  

   
   <messagingEngine id="defaultME">
      <queue id="TradeBrokerQueue" />
      <topicSpace id="TradeTopicSpace" />
   </messagingEngine>
   
   <connectionManager id="ConMgr2" maxPoolSize="20" />
   <jmsQueueConnectionFactory connectionManagerRef="ConMgr2" jndiName="jms/TradeBrokerQCF">
      <properties.wasJms />
   </jmsQueueConnectionFactory>
   
   <connectionManager id="ConMgr3" maxPoolSize="20" />
   <jmsTopicConnectionFactory connectionManagerRef="ConMgr3" jndiName="jms/TradeStreamerTCF">
      <properties.wasJms />
   </jmsTopicConnectionFactory> 
   
   <jmsQueue id="TradeBrokerQueue" jndiName="jms/TradeBrokerQueue">
      <properties.wasJms deliveryMode="NonPersistent" queueName="TradeBrokerQueue" />
   </jmsQueue>
   
   <jmsTopic id="TradeStreamerTopic" jndiName="jms/TradeStreamerTopic">
      <properties.wasJms deliveryMode="NonPersistent" topicSpace="TradeTopicSpace" />
   </jmsTopic>
  
  <jmsActivationSpec id="daytrader9-1.0-SNAPSHOT/DTBroker3MDB">
      <properties.wasJms destinationRef="TradeBrokerQueue" />
   </jmsActivationSpec>
   
   <jmsActivationSpec id="daytrader9-1.0-SNAPSHOT/DTStreamer3MDB">
      <properties.wasJms destinationRef="TradeStreamerTopic" destinationType="jakarta.jms.Topic" />
   </jmsActivationSpec>
</server>
